 
<div class="main posts-index">
  <div class="containerーpost">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
       <p> <%=post.name %></p>
       <p><%= simple_format post.body %></p>
      </div>
    <% end %>
  </div>
</div>