<div class="image">
　<div class="container">
    <h1>ラーメンマップ</h1>
    <h2>美味しいラーメン屋をマップで探そう！</h2>
  <a  href="/home/index" class="btn btn-custom01">
  <span class="btn-custom01-front">使ってみる</span>
  <i class="fas fa-angle-right fa-position-right"></i>
</a>
  </div>  
</div>


